@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

/* media queries */
@media (min-width: 768px) {
    .encabezado {
        @include estilos-caja(56px 24px 72px, null, null);
    }
    .logo {
        max-width: 380px;
    }
    .barra-superior {
        @include estilos-caja(16px 48px, null, 16px);
    }
}

@media (min-width: 1024px) {
    .acceso {
        @include estilos-caja(40px 32px 16px, 0 auto, null);
    }
}

// certificado:
@media screen and (min-width: 768px) {
    .certificado-seccion {
        max-width: 760px;
    }
    .certificado {
        @include estilos-caja(48px 40px, 6px, 12px);
    }
    .certificado-titulo {
        font-size: 2rem;
    }
    .certificado-nombre {
        font-size: 2.4rem;
    }
    .certificado-curso {
        font-size: 1.6rem;
    }
    .certificado-acciones {
        flex-direction: row;
        justify-content: center;
    }
}
