@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

// pagina mis cursos
.contenedor-principal {
    background-color: $color-tarjeta-curso;
    min-height: 100vh;
}

.seccion-home {
    display: flex;
    max-width: $ancho-contenido;
    text-align: center;
    @include flexbox (column, null, center);
    @include estilos-caja(8px 32px 32px, 0 auto, 16px);
    h2 {
        font-size: 1.3rem;
        font-weight: 700;
    }
}

.contenedor-cursos {
    display: flex;
    background-color: $color-contenedor-cursos;
    border-radius: 16px;
    width: 100%;
    @include flexbox (column, null, center);
    @include estilos-caja(24px 24px 12px, null, 20px);
}

.tarjeta-curso {
    background-color: $color-tarjeta-curso;
    border-radius: 16px;
    width: 100%;
    min-height: 120px;
    text-align: left;
    @include estilos-caja(16px, null, null);
    h3 {
        font-size: 1rem;
    }
    p {
        font-size: 0.9rem;
    }
}

.calendario {
    color: $color-icono;
    svg {
        width: 220px;
        max-width: 100%;
        height: auto;
    }
}
