@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

::selection {
    background-color: $color-seleccion-texto;
    color: $color-tipo1;
}

body {
    background-color: $color-principal;
    font-family: $fuente-principal;
    color: $color-texto-general;
    width: 100%;
    min-height: 100vh;
}

a {
    @include foco-visible;
}

// oculta un elemento a la vista, pero los lectores de pantalla lo leen
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}
